.rows{
    /* display: flex; */
    margin-top: 2em;
    list-style: none;
}

.rows .row{
    flex: 1 1 100%;
}

.rows .row1{
    flex: 1 1 100%;
    text-align: center;
}

.image{
    border-radius: 100px;
    width: 100px;
    height: 100px;
    /* margin: 18px 18px; */
}

.name{
    display: flex;
    margin: 18px 38px;
}
.age{
    /* display: flex; */
    margin: 12px 38px;
}
.height{
    margin: 12px 38px;
}
.weight{
    display: flex;
    margin: 12px 38px;
}
.gender{
    display: flex;
    margin: 12px 38px;
}
.number{
    display: flex;
    margin: 12px 38px;
}
.email{
    display: flex;
    margin: 12px 38px;
}

.button {
    justify-content: right;
    /* display: flex; */
    width: 90vw ;   /* Occupy the 90% of the screen width
    max-width: 90vw; */
    margin-top: 2em;
    margin-left: 20px;
    
} 


.info {
    /* justify-content: right; */
    /* background-color: black; */
    color: black;
    margin-top: 2em;
    margin-left: 20px;
  }


.btn-xxl {
    font-size: 2.4 rem;
  }